div{
    background-color: aqua;
    width: 300PX;
    border:50px;
    padding:50px;
    margin: 20px;
    border-radius: 70px;
    align-items: center;
    appearance: center;
    -ms-flex-align: center;

}
 body{
    background-image: url(image/image1.jpg);
    border-image-repeat: unset;
    background-repeat: no-repeat;
    background-image: -moz-element(12);
    -ms-flex-align: center;
}
input{
    margin: 8px;
    border-radius: 25px;
    border-bottom: 3px;

}
button{
    font-size: medium;
    border-radius: 10px;
    border-color: blue;
    background-color: chartreuse;
}